@import './reset.css';
@import './navbar.css';
@import './hero.css';
@import './about.css';
@import './faq.css';
@import './modes.css';
@import './footer.css';
@import './store.css';
@import './animations.css';
